@import '~mdb-ui-kit/css/mdb.min.css';

.smallPadding {
  @media only screen and (max-width: 600px) {
    padding: 0.3rem 0.3rem !important;
  }
}

.cursorPointer {
  cursor: pointer;
}

.lessWidth {
  //width: auto;
  @media only screen and (max-width: 991px) {
    width: 30%;
  }
  @media only screen and (max-width: 767px) {
    width: 35%;
  }
  @media only screen and (max-width: 600px) {
    width: 50%;
  }
  @media only screen and (max-width: 360px) {
    width: 70%;
  }
}

.divMoveDown {
  position: absolute;
  z-index: 3;
  animation: mymove 4s ease-in-out forwards infinite;
  left: 0;
  width: 100%;
}

@keyframes mymove {
  0% {
    top: 0px;
    opacity: 1;
  }
  99% {
    top: 200px;
    opacity: 0;
  }
  100% {
  }
}

.pos-relative {
  position: relative;
}

.w-xl-25 {
  @media (min-width: 1200px) {
    width: 25%;
  }
}
